
@font-face {
    font-family: 'papers';
    src: url('http://127.0.0.1:5500/res/font/papers.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-smooth: never;
    -webkit-font-smoothing : none;
}

@font-face {
    font-family: 'handwriting';
    src: url('http://127.0.0.1:5500/res/font/QEVRead.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QEAntonyLark';
    src: url('http://127.0.0.1:5500/res/font/QEAntonyLark.ttf') format('truetype');
}

@font-face {
    font-family: 'QEBEV';
    src: url('http://127.0.0.1:5500/res/font/QEBEV.ttf') format('truetype');
}

@font-face {
    font-family: 'QEBradenHill';
    src: url('http://127.0.0.1:5500/res/font/QEBradenHill.ttf') format('truetype');
}

@font-face {
    font-family: 'QECarolineMutiboko';
    src: url('http://127.0.0.1:5500/res/font/QECarolineMutiboko.ttf') format('truetype');
}

@font-face {
    font-family: 'QEDaveMergens';
    src: url('http://127.0.0.1:5500/res/font/QEDaveMergens.ttf') format('truetype');
}

@font-face {
    font-family: 'QEGHHughes';
    src: url('http://127.0.0.1:5500/res/font/QEGHHughes.ttf') format('truetype');
}

@font-face {
    font-family: 'QEHerbertCooper';
    src: url('http://127.0.0.1:5500/res/font/QEHerbertCooper.ttf') format('truetype');
}
