:root {
    --color-background-body: #000000;
    --color-text-link: #e60000;
    --color-text-button-text: #e60000;
    --color-background-button-primary-default: #e60000;
    --color-background-input-checkbox-checked: #e60000;
    --color-border-input-checkbox-checked: #e60000;
    --color-background-button-primary-active: #910303;
    --color-background-button-primary-hover:  #910303;
    --color-background-input: rgb(236, 236, 236) ;
    --color-background-input-focus: rgb(236, 236, 236)  ;
    --color-border-input-focus: rgb(122, 122, 122);
    --color-text-input: rgb(32, 32, 32);
    --color-text-alt-2: rgb(32, 32, 32);
    --color-fill-button-icon: rgb(122, 122, 122);
    --color-fill-current: rgb(122, 122, 122);
}

* {
    scrollbar-color: #00000062 #f1f1f100; /* Thumb color, Track color */
    scrollbar-width: thin; /* Options: auto, thin, none */
}


/* #root {
    z-index: 5 !important;
} */

body {
    cursor: url('flourek.github.io/unbanplease/res/img/CursorArrow.png'), auto;
    margin: 0;
    padding: 0;
    width: 1920px; /* Design for 1920px width */
    height: 1080px; /* Design for 1080px height */
    position: relative;
    background-color: black !important;
    overflow: hidden !important;
    transform-origin: top left; /* Ensure scaling is relative to the top-left corner */
}

.tw-root--hover body {
    background-color: black !important;
}

#sus {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

body p:hover, h6:hover, span:hover {
    cursor: text !important;
}

body button:hover, .visa-smol:hover, a:hover {
    cursor: url('flourek.github.io/unbanplease/res/img/CursorHand.png') 16 2, auto;
}

::selection {
    background-color: #ff0000; /* light pink background */
    color: #333333; /* dark text */
    text-shadow: none; /* remove text shadow */
}

/* For Firefox */
::-moz-selection {
    background-color: #0000002c;
    color: #333333;
    text-shadow: none;
}

.viewer-card-layer{
    z-index: 3000 !important;
    left: 350px;
    top: 330px;
}

.viewer-card-layer p, .viewer-card-layer span {
    color: white !important;
}


#container {
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden; /* Hide overflow when zoomed out */
    image-rendering: crisp-edges;
}

#black-bars{
    position: absolute;
    width: 1920px;
    height: 1080px;
    border: 100px black solid;
    border-width: 60px 105px 60px 105px;
    z-index: 2005;
}

#foreground{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    object-fit: cover; 
}

#background{
    position: absolute;
    top: 365px;
    left: 639px;
    object-fit: cover; 
    z-index: 4 !important;
}


#sus img {
    user-select: none;
}


#car {
    position: absolute;
    top: 0;
    right: 0px;
    object-fit: cover; 
    z-index: 2001;
    height: 368px;
}

#border{
    position: absolute;
    top: 0;
    left:0;
    z-index: 2000;
}


.d-none{
    display: none !important;
}

* {
    font-family: 'papers' !important; /* Fallback to sans-serif */
    font-size: 14px !important;
}

h5 {
    font-size: 18px !important;
}

#unban-request-details h5, p, .hzgYb, .hfwpbT, .jbtaqh, .dTXPRZ, .bMOhzu,  .text-fragment {
   color: rgb(72, 72, 72) !important 
}

.iBoSDS{
    font-family: 'handwriting' !important; 
    font-size: 66px !important;
}

.cXFDOs {
    border-radius: 0px;
    border: 2px rgb(87, 87, 87) solid;
}



.iNjobR{
    /* display: block !important; */
    height: 270px !important;
    overflow: scroll;
    overflow-x: hidden;
    border: 3px dotted gray;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 70px;
    width: 522px !important;
    padding: 10px 0px !important;
}


.iNjobR .simplebar-scroll-content {
    overflow-y: scroll !important;
}

.unban-requests-item-details{
    overflow: hidden !important;
    height: 556px;
}

.chat-line__message--deleted-detailed{
    text-decoration: none !important;
}

.eFqEFL {
    text-decoration: underline;
    color: #7f93ff;
}

/* 'deleted by flourek1g' */
.dTXPRZ {
    display: none !important;
}

/* colon after username */
.vcml-message span:not([class]) {
    color: black;
}

.viewer-card-mod-logs-comment-line:hover {
    background-color: rgb(245, 245, 245) !important;
}

.unban-requests-tabs__load-previous
{
    display: none !important;
    background: none !important;
}

.unban-requests-item-header__title {
    pointer-events: none;
}

/* mod comments */
.jxgvBz {
    font-size: unset !important;
}

.jNIlkd {
    padding: 0rem !important;
}

.kLSvdo {
    background: none !important;
}

.btsbQQ {
    display: none !important;
}

input::placeholder {
    color: #888888 !important; 
}

.targeted-mod-action > div {
    border-top: 3px dotted #a9a9a9;
    padding-top: 9px;
}


.targeted-mod-action span {
    font-size: 16px !important;
}


.text-fragment{
    font-size: 16px !important;
}

.hfwpbT{
    font-size: unset !important;
}

.no-drag {
    -webkit-user-drag: none;  /* Safari and Chrome */
    -khtml-user-drag: none;   /* Konqueror */
    -moz-user-drag: none;     /* Firefox */
    -o-user-drag: none;       /* Opera */
    user-drag: none;          /* Standard */
    
    pointer-events: none;     /* Disable all mouse events like clicking */
}




#next {
    content: " ";
    position: absolute;
    width: 80px;
    height: 60px;
    left: 590px;
    top: 250px;
    z-index: 10000;
}


.jUUWca { 
    display: none !important;
    /* display: block !important;
    z-index: 5000; */
} 





#boothbackground{
    position: absolute;
    left: 105px;
    top: 367px;
    z-index: 1000;
}

#boothdesk{
  position: absolute;
  left: 0;
  top: 367px;
  z-index: 1002;
}

#person {
    width: 384px;
    position: absolute;
    left: -400px; /* End at 16.5vw */
    top: 10px; /* Vertical position */
    z-index: 1003;
    width: 1000px;
    height: 100px;
    /* Animation */
    transform-origin: 16.5vw 60vh; /* Rotation point */
    transition: filter 0.5s;
}


.personBreathing {
    top: 90px !important;
    left: 200px !important;
    animation: breathe 3s steps(1) infinite;
    z-index: 1005;
}


#personMask {
    position: absolute;
    width: 535px;
    height: 320px;
    left: 105px;
    top: 370px;
    z-index: 1005;
    clip-path: inset(0);
}


#personAvatar{
    width: 172px;
    height: 180px;
    border-radius: 100%;
    position: absolute;
    left: -20px;
    top: -10px;
    z-index: 1002;
}
#personBody{
    width: 384px;
    height: 362px;
    z-index: 1001;
    position: absolute;
    left: -125px;
    top: -120px;
    image-rendering: crisp-edges;
}

@keyframes breathe {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px); /* Move up by 3 pixels */
    }
    100% {
        transform: translateY(3px); /* Move down by 3 pixels */
    }
}

#borderWrapper{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
}

.accept_walk {
    position: absolute;
    top: 259px;
    left: 701px;
    width: 940px;
    height: 110px;
    z-index: 2002;
}

.deny_walk {
    position: absolute;
    top: 270px;
    left: 460px;
    width: 90px;
    height: 100px;
    z-index: 2002;
}

.walk_in {
    position: absolute;
    top: 256px;
    width: 96px;
    height: 97px;
    z-index: 2002;
    left: 457px;
  
}


#twitch {
    width: 100vw;
    height: 100vh;
    z-index: 1000 !important;
}

.message-author__username{
    color: red !important;
}

#unban-request-details .tw-avatar{
    border: #e60000  4px dotted;
    width: 100px !important;
    height: 100px !important;
}


#unban-request-details .tw-image-avatar{
    border-radius: 0px !important;
    border: 0;
    padding: 3px;
    aspect-ratio: 1;
    filter: grayscale(100%) contrast(150%) sepia(0.5);
}

#unban-request-details {
    position: absolute !important;
    /* margin-left: 20vw; */
    top: 1120px;
    left: 700px ;
    width: 593px;
    height: 613px;
    border: rgb(255, 253, 249) solid  9px;
    background-color: rgb(255, 253, 249) !important;
    transform-origin: top left;
    z-index: 5;
    /* animation-delay: 2s; */
}

.print{
    animation: print 2s ease-in-out forwards;
}

.iBAiEV{
    border-bottom: gray 4px dotted;
    margin-bottom: 10px;
}


.loBtjK {
    position: fixed !important;
    display: block !important;;
    left: 12250px;
    top: 12220px;
    width: 445px;
    height: 100px;
    background-color: #0056b3;
    z-index: 1000;
}



.kndAiU{
    /* display: none !important; */
    position: absolute !important;
    overflow: visible !important;
    margin-top: -50px;
}

.show {
    display: block !important;
}



#unban-request-details:before {
    content: " "; /* to ensure it displays */
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border: 4px dashed rgb(78, 78, 78);
    pointer-events: none; /* user can't click on it */
  }


  @keyframes print {
    0% {
        top: 1080px;
    }
    10% {
        top: 860px; 
    }
    20% {
        top: 860px; 
    }
    30% {
        top: 640px; 
    }
    40% {
        top: 640px; 
    }
    50% {
        top: 420px; 
    }
    60% {
        top: 420px; 
    }
    70% {
        top: 340px; 
    }
    80% {
        top: 340px; 
    }
    100% {
        top: 340px; 
    }
}


.remove {
    transition: transform 0.5s ease-in-out !important; /* Smooth transition of transform */
    transition: filter 0.5s linear; /* Smooth transition of transform */
    transform: translateY(1000px) !important; 
    filter: brightness(0);
}

@keyframes remove {
    100% {
        top: 100vh; /* Stop here */
    }
}

#count {
    position: absolute;
    left: 649px;
    top: 66px;
    font-size: 39px !important;
    z-index: 2003;
    color: #b0b0b0;
    background-color: #585858;
    height: 33px;
    width: 535px;
}

#countText {
    font-size: 25px !important;
    color: #939393;
    position: absolute;
    width: 436px;
    top: -1px;
    left: 8px;
}







.details-hidden {
    z-index: -1000 !important;
}

.unban-requester-message {
    color: black !important;
    font-size: 24px !important;
    position: fixed !important;
    display: block !important;;
    left: 11050px;
    top: 11150px;
    width: 445px;
    min-height: 308px !important;
    overflow-y: scroll !important;
    padding: 1rem;
    /* top: 30vh;
    left: 40vw !important;
    border: white solid  10px; */ 
    background-color: rgb(235, 241, 150, 255) !important;
    -webkit-box-shadow: -5px 5px 0px 1px rgba(169, 161, 45, 1);
    -moz-box-shadow: -5px 5px 0px 1px rgba(169, 161, 45, 1);
    box-shadow: -5px 5px 0px 1px rgba(169, 161, 45, 1);
    transform-origin: top left;
    border-left: none !important;
    z-index: -1000 !important;
    /* animation-delay: 1s; */

}

.slideFromTop {
    animation: slideFromTop 1s ease-in-out forwards;
}



#appeal {
    position: absolute;
    display: block;
    background-color: yellow;
    overflow: hidden !important;
      overflow-y: hidden;
    transform-origin: top left;
    z-index: 5;
    color: black;
    left: 1050px;
    top: 1080px;
    width: 423px;
    height: 419px;
    min-height: 308px !important;
    overflow-y: scroll !important;
    background-color: rgb(235, 241, 150, 255) !important;
    -webkit-box-shadow: -5px 5px 0px 1px rgba(169, 161, 45, 1);
    -moz-box-shadow: -5px 5px 0px 1px rgb(182, 178, 126);
    box-shadow: -3px 3px 0px 1px rgb(200, 194, 104);
    transform-origin: top left;
    border-left: none !important;
    animation-delay: 1s;
}

#appealGrab {
    position: fixed;
    display: block;
    width: 423px;
    height: 65px;
    border-bottom: 3px #939069 dotted;
    background-color: rgb(235, 241, 150, 255);
    padding: 6px;
    --base-rem-unit: ;
}

#appealGrab div {
    font-size: 18px !important;
    color: #645d23 !important;
}

#appealGrab button {
    position: absolute;
    font-size: 18px !important;
    color: #645d23 !important;
    right: 29px;
    top: 16px;
}

#appealGrab button img:hover {
    background-color: #645d2352;
}

#appealContent {
    margin-top: 55px;
    padding: 1rem;
    font-size: 36px !important;
}

#appealContent .word {
    font-size: 36px !important;
    color: inherit !important;
    font-family: inherit !important;
}

/* resolution message and submit */

#visa {
    position: absolute;
    display: block;
    left: 1300px;
    top: 1080px;
    width: 390px ;
    overflow: hidden !important;
    transform-origin: top left !important;
    z-index: 5;
    mask-image: url('flourek.github.io/unbanplease/res/img/visa.png');
    mask-repeat: no-repeat;
    mask-size: cover;
}



#visaImg {
    width: 390px !important;
}


.visa-smol {
    z-index: 1010 !important;
    image-rendering: auto !important;
}

#visa.visa-smol {
    transform: scale(0.3) rotate(-5deg);

}

#appeal.visa-smol {
    transform: scale(0.2) rotate(10deg);
}

#unban-request-details.visa-smol {
    transform: scale(0.2) rotate(4deg);

}


#visa textarea {
    margin: 20px;
    top: 210px;
    width: 353px !important;
    height: 142px;
    color: black;
    font-size: 18px !important;
    background-color: rgb(199, 143, 152) !important;
    resize: none;
    padding: 10px;
    position: absolute;
    left: 0;
    border: none;
    outline: none;
}

#visa textarea:focus-visible   {
    border: 0;
    box-shadow: 0;
}




#buh {
    position: absolute;
    top: 400px;
    left:180px;
    background-color: rgb(167, 53, 87);
    width: 60px;
    z-index: 10000;
}

.gzFSTs {
    position: fixed;
    display: block !important;
    left: 267px;
    top: 12080px;
    width: 440px !important;
    background-color: rgb(192, 246, 255);
}



.fMazMU, .fAVISI {
    display: none !important;
}



@keyframes slideFromTop {
    0% { 
        top: 450px;
    }
    to {
        top: 750px;
    }
}

@keyframes slideFromBottom {
    0% { 
        top: 1080px;
    }
    to {
        top: 750px;
    }
}



@keyframes slideIn {
    from {
        right: -30vw;
    }
    to {
        right: 0;
    }
}



#stamps {
    position: absolute;
    right: 60px;
    background-color: transparent;
    content: " ";
    width: 843px;
    top: 430px;
    height: 200px;
    transition: transform 0.5s ease-in-out; /* Smooth transition of transform */
    transform: translateX(-30px);
    z-index: 1000 !important;
}

.stamp-hide {
    transform: translateX(750px)!important; /* Move back to original position */
}

#stampPull {
    position: absolute;
    content: " ";
    width: 5%;
    left: 0%;
    height: 10vw; 
    overflow: visible;
    z-index: 12;
}

#stampBarTop{
    position: absolute;
    left: 0;
    width: 840px;
    height: 141px;
    top: 0;
}

#stampBarBottom{
    position: absolute;
    left: 0;
    width: 840px;
    height: 99px;
    top: 141px;
    z-index: 1018;
}

.stampInk {
    position: absolute;
    width: 230px;   
    image-rendering: crisp-edges;
}

.stampImg {
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    position: absolute;
    top: 0;
    pointer-events: none !important;
}


#deny {

    position: absolute;
    content: " ";
    left: 480px;
    width: 226px;
    height: 220px; 
    z-index: 15;
    top: -30px;
}

#accept {
    position: absolute;
    content: " ";
    left: 120px;
    width: 226px;
    height: 220px; 
    z-index: 1015;
    top: -30px;
}



.simplebar-content, .iRXYzb, .loBtjK, .dQIgZd{
    background-color: #00000000 !important;
}

.scrollable-div {
    position: absolute;
    left: 68vw;
    width: 25vw;
    min-height: 30vh !important;
    overflow-y: auto !important;
    top:40vh;

    background-color: #f9f9f9; /* Optional: background color */
}



.black-screen {
    position: absolute;
    /* display: none !important; */
    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000 !important;
    transition: transform 1.5s ease-in-out; /* Smooth transition of transform */
    transform: translateY(0vh);
}

.black-screen button {
    left: 782px;
    top: 849px;
    width: 350px;
    height: 100px;
    z-index: 2002 !important;
    position: absolute;
}


#splash {
    position: absolute;
    /* display: none !important; */
    width: 1920px;
    height: 1080px;
}

#logo {
    position: absolute;
    display: none;
    width: 1920px;
    height: 1080px;
    animation: bob 2.1s infinite ease-in-out;
    z-index: 2001;
}

.lonk {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 5000;
    top: 878px;
}

#githubLink{
    left: 280px;
}
#twitterLink{
    left: 360px;
}
#twitchLink{
    left: 200px;
}

#streamlabsLink {
    position: absolute;
  color: #c13e29;
  font-size: 30px !important;
  z-index: 5000;
  top: 969px;
  left: 135px;
}

#ending {
    display: none;
    position: absolute;
    background-color: black;
    width: 1920px;
    height: 1080px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Fullscreen height */
    text-align: center; /* Center text inside the h1 */
    z-index: 4000;
    opacity: 0;
    transform: opacity 3s linear;
}
#ending h1 {
    font-size: 60px !important;
}
#ending img {
    width: 300px;
}



#userCardButton {
    position: absolute;
    left: 230px;
    top: 883px;
    width: 71px;
    height: 121px;
}

#shutterSwitch {
    position: absolute;
    left: 549px;
    top: 360px;
    width: 90px;
    height: 108px;
    z-index: 1009 !important;
}

#shutterSwitch img {
    width: 300%;
}

#handbook {
    position: absolute;
    left: 440px;
    top: 890px;
    width: 90px;
    height: 108px;
}



@keyframes bob {
    0% {
        transform: translateY(30px); /* Start position */
    }
    25% {
        transform: translateY(-30px); /* Move up */
    }
    50% {
        transform: translateY(-30px); /* Pause at the top */
    }
    75% {
        transform: translateY(30px); /* Move back down */
    }
    100% {
        transform: translateY(30px); /* Pause at the bottom */
    }
}

.black-screen-hide {
    transform: translateY(-1080px) !important; /* Move back to original position */
}

.centered-div {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
